.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobileContainer,
.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
  .mobileContainer {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .menuButton {
    display: block;
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    cursor: pointer;
  }
}
