:root {
  --primary: rgb(101 85 143);
  --surface-tint: rgb(101 85 143);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(233 221 255);
  --on-primary-container: rgb(32 16 71);
  --secondary: rgb(98 91 113);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(232 222 248);
  --on-secondary-container: rgb(30 25 43);
  --tertiary: rgb(126 82 96);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 217 227);
  --on-tertiary-container: rgb(49 16 29);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(65 0 2);
  --background: rgb(253 247 255);
  --on-background: rgb(29 27 32);
  --surface: rgb(253 247 255);
  --on-surface: rgb(29 27 32);
  --surface-variant: rgb(231 224 235);
  --on-surface-variant: rgb(73 69 78);
  --outline: rgb(122 117 127);
  --outline-variant: rgb(202 196 207);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(50 47 53);
  --inverse-on-surface: rgb(245 239 247);
  --inverse-primary: rgb(207 189 254);
  --primary-fixed: rgb(233 221 255);
  --on-primary-fixed: rgb(32 16 71);
  --primary-fixed-dim: rgb(207 189 254);
  --on-primary-fixed-variant: rgb(77 61 117);
  --secondary-fixed: rgb(232 222 248);
  --on-secondary-fixed: rgb(30 25 43);
  --secondary-fixed-dim: rgb(203 194 219);
  --on-secondary-fixed-variant: rgb(74 68 88);
  --tertiary-fixed: rgb(255 217 227);
  --on-tertiary-fixed: rgb(49 16 29);
  --tertiary-fixed-dim: rgb(239 184 200);
  --on-tertiary-fixed-variant: rgb(99 59 72);
  --surface-dim: rgb(222 216 224);
  --surface-bright: rgb(253 247 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(248 242 250);
  --surface-container: rgb(242 236 244);
  --surface-container-high: rgb(236 230 238);
  --surface-container-highest: rgb(230 224 233);

  --body-large: 1.125rem; /* 18px */
  --body-medium: 1rem; /* 16px */
  --body-small: 0.875rem; /* 14px */

  --headline-large: 3rem; /* 48px */
  --headline-medium: 2.25rem; /* 36px */
  --headline-small: 1.5rem; /* 24px */

  --display-large: 5.625rem; /* 90px */
  --display-medium: 4.5rem; /* 72px */
  --display-small: 3.375rem; /* 54px */

  --title-large: 1.375rem; /* 22px */
  --title-medium: 1.125rem; /* 18px */
  --title-small: 1rem; /* 16px */

  --label-large: 0.875rem; /* 14px */
  --label-medium: 0.75rem; /* 12px */
  --label-small: 0.625rem; /* 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--on-background);
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
}
